.formContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
  width: 90%;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.inputContainer input {
  width: 100%;
  padding: 8px;
  border-width: 1.5px 0 1.5px 1.5px;
  border-style: solid;
  border-color: #000000;
  border-radius: 4px 0 0 4px;
}

.formContainer p {
  color: red;
}

.inputContainer button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: 0.5rem;
}
.inputContainer button:disabled {
  opacity: 0.5;
}

.formContainer img {
  width: 32px;
  height: auto;
}
