.message__container {
  margin: 1.2rem 0 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather__container {
  width: 90vw;
  min-height: 45vh;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;

  background: radial-gradient(
    circle,
    #0f23fa 0%,
    #0f85fa 39%,
    #0fa2fa 64%,
    #0fe7fa 100%
  );
}

.weather__container img {
  width: 80px;
  height: auto;
}

.coords__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  /*   gap: 1.5rem; */
  margin: 1rem 0;
}

.coords__container p {
  font-size: 0.9rem;
  color: #333;
}
.currentPositionButton__Container button {
  background: purple;
  color: white;
  padding: 5px;
}
