#root {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #f5e9d8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  position: sticky;
  top: 0;
  color: rgb(255, 255, 255);
  z-index: 1000;
  background-color: #3e2c23;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  height: 85vh;
}

footer {
  display: flex;
  background-color: #e76f2e;
  width: 100%;
  height: 7vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
}

label {
  font-size: 1.2rem;
  color: #140096;
}

input {
  font-size: 1.2rem;
  height: 2rem;
  border: 1px solid black;
}

button {
  font-size: 1rem;
}

@media (min-width: 1040px) {
  /*   #root {
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
  } */

  body {
    width: 30vw;
    margin: 0 auto;
    background-color: #111;
    background-image:
      linear-gradient(#333 1px, transparent 1px),
      linear-gradient(90deg, #333 1px, transparent 1px);
    background-size: 40px 40px;
  }

  header {
    position: relative;
    width: 30vw;
  }

  main {
    height: auto;
    background-color: #f5e9d8;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  p {
    font-size: 1.125rem;
  }

  label {
    font-size: 1.25rem;
  }
}
