#root {
  width: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #91d06c;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  position: sticky;
  top: 0;
  color: rgb(255, 255, 255);
  z-index: 1000;
  background-color: #406093;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  gap: 20px; */
  padding: 20px;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: #fff799;
  width: 100%;
  height: 8vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
}

label {
  font-size: 1.2rem;
  color: #140096;
}

input {
  font-size: 1.2rem;
  height: 2rem;
  border: 1px solid black;
}

button {
  font-size: 1rem;
}
